html{
    font-family: 'Quicksand', sans-serif;
   color: aliceblue;
  
}

body{
    margin: 0;
    padding: 0;
   background-color: #191919;
}
   
   

ul{
    list-style: none;
    margin:0;
    padding: 0;
    width: 100%;
    overflow: hidden;

  
}
li{
    float: right;
}
a{
    display:flex;
    flex-wrap: wrap;
    font-size: 1vmax;
    text-decoration: none;
    text-align: center;
    color: aliceblue;
}
.Leftmost{
  padding: 1.5vmin 20px;
  float: left;
}
.container{
    display: flex;
    flex-wrap: wrap;
   flex-flow: row;    
}
.sp1{
    padding: 10%;
    font-size: 2.5vmax;
    width: 45%;
  }
    
span{
    font-size: 3.25vmax;
}
h2{
    font-size: 3.5vmax;
    font-family: 'Unbounded', cursive;
    margin: 1.15vmax;
}
.abt1{
    font-size: 1.75vmax;
}
hr {
    border: none;
    border-top: 2px solid #ccc;
    margin: 5px 0;
  }
  footer {
   
    padding: 1.5%;
  }
  
  .social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .social-links a {
    margin: 1.5% 2.5%;
  }
  .button0 {
    display: inline-block;
    padding: 1.5vmin 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .button0:hover {
    background-color: #62a9d5;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color:#fa8072;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .button:hover {
    background: #ff7f50;
  }

  
